
.store_page {
    flex-grow: 1;
}

.header {
    background-color: #bac8db;
    padding: 1.3rem;
}

.product_card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product_card {
    background-color: #e1e9f5;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 1rem;
}
